.dub
docs.json
__dummy.html
docs/
/veritas
veritas.so
veritas.dylib
veritas.dll
veritas.a
veritas.lib
veritas-test-*
*.exe
*.pdb
*.o
*.a*.
*.obj
*.lst
/cache/
db/libveritas_db.a
language/libveritas_language.a
analyzer/libveritas_analyzer.a
