.dub
docs.json
dub.selection.json
__dummy.html
docs/
/veritas
veritas.so
veritas.dylib
veritas.dll
veritas.a
veritas.lib
veritas-test-*
*.exe
*.pdb
*.o
*.a*
*.obj
*.lst
/cache/
root/db/syncALPM_DB_VERSION
*.db
*.lck
dub.selections.json
